body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  margin-bottom: 30px;
}

.navbar-nav {
  margin: 0px;
}

.navbar-nav>li {
  float: left;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #333;
}

.margin-top {
  margin-top: 20px;
}

.big-link {
  padding: 0px;
  display: block;
  width: 100%;
  border-radius: 0px;
  margin-bottom: 20px;
}

.big-link>p {
  font-size: 14pt;
}

.big-link>h2 {
  font-size: 14pt;
}

@media (min-width: 768px) {
  .big-link {
    padding: 50px 0px;
    margin-bottom: 0px;
  }
  .big-link>h2 {
    font-size: 30px;
  }
}

.navbar-default .navbar-nav>li.white-text>a {
  color: white;
}

@media (min-width: 768px) {
  .navbar {
    margin-bottom: 60px;
  }
}

.navbar-default {
  border: none;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

strong {
  /*color: #3890CF;*/
  /*text-decoration: underline;*/
  /*font-style: italic;*/
}

/* This adds a bottom margin to all columns for default (mobile) view when all columns are stacked - then removes it for full desktop layout */

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    margin-bottom: 0px;
  }
}

.jumbotron {
  background: none;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

code {
  background-color: #333;
  color: white;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  color: #aaa;
  border-top: 1px solid #eee;
}

@media (min-width: 768px) {
  footer {
    margin-top: 80px;
    padding-top: 40px;
  }
}

#download-cv {
  position: absolute;
  top: 0px;
  right: 15px;
  background-color: #333;
  font-weight: bold;
}

#download-cv>a {
  color: white;
}

li#download-cv>a:hover {
  background-color: white;
  color: #333;
}

@media (min-width: 768px) {
  #download-cv {
    position: static;
  }
}

#skills-col {
  padding-right: 7.5px;
}

#projects-col {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

#about-col {
  padding-left: 7.5px;
}
